*,
html {
  text-decoration: none;
  list-style: none;
  ul {
    padding: 0px;
    margin: 0px;
  }
}

.btnWhite {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 18px;
}
